/* Añadir transiciones suaves */
input, button {
  transition: all 0.3s ease;
}

input:focus, button:hover {
  transform: scale(1.05);
}

/* Fondo para la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column; /* Organizar los elementos en una columna */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: center; /* Centrar el contenido horizontalmente */
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
  margin: 0;
  padding: 0;
}

/* Contenedor centrado con sombra */
.bg-white {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;
}

/* Estilo para el ícono del ojo */
.eye-icon {
  position: absolute;
  top: 50px;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Estilo de los enlaces */
a {
  color: #1D4ED8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para el pie de página */
footer {
  margin-top: auto; /* Esto empuja el pie de página hacia el fondo */
  font-size: 0.875rem; /* Tamaño de fuente pequeño */
  color: #4A4A4A; /* Gris oscuro */
  text-align: center;
  padding: 1rem 0;
  width: 100%; /* Asegura que el pie de página ocupe todo el ancho */
  position: absolute; /* Lo coloca al fondo de la pantalla */
  bottom: 0;
}

/* Estilo para destacar el nombre de la app */
footer span {
  font-weight: bold;
  color: #007BFF; /* Azul para el nombre de la app */
}

/* Ajustes responsivos */
@media (max-width: 640px) {
  .w-full {
    width: 100%;
  }
}

